[user]
	name = Adi De Masi
	email = adi.demasi@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	ui = auto
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft --color always $LOCAL $REMOTE
