Documents/
Downloads/
code/
dconf/
.cache/
.ssh/
.oh-my-zsh/
.zcomp*
.local/
.mozilla/
.npm/
.myconf/
.zhistory
.zsh_history
.config/zsh/.zcompdump-dmad-tux-5.9
.config/zsh/.zcompdump-dmad-tux-5.9.zwc
