[user]
	name = Adi De Masi
	email = adi.demasi@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	autocrlf = input
[color]
	ui = auto
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
