.cache/
.config/obsidian/
.config/systemd/user/default.target.wants/appimagelauncherd.service
.config/zsh/.zcompdump-dmad-tux-5.9
.config/zsh/.zcompdump-dmad-tux-5.9.zwc
.local/
.mozilla/
.myconf/
.npm/
.oh-my-zsh/
.pki/
.ssh/
.zcomp*
.zhistory
.zsh_history
Documents/
Downloads/
code/
dconf/
